* {
  padding: 0px;
  margin: 0px;
}
body {
  box-sizing: border-box;
  width: 1920px;
  height: 100%;
}

header {
  background-image: url(/FOTOS/elec.jpg);
  width: 100%;
  height: 400px;
  background-position: middle center;
  background-size: 100% 400px;
}

header:before {
  background-color: rgb(10, 13, 24);
  opacity: 0.7;
  width: 100%;
  height: 400px;
  content: "";
  position: absolute;
}

header img {
  width: 200px;
  top: 300px;
  position: absolute;
  left: 45%;
  height: 190px;
  border-radius: 50%;
  border: 1px solid black;
}

header h1 {
  color: rgb(255, 175, 4);

  text-align: center;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 120px;
  top: 50px;
}

header h2 {
  position: relative;
  top: 50px;
  color: rgb(255, 175, 4);
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}
nav {
  position: relative;
  text-align: right;
  margin-right: 90px;
  margin-top: -165px;
}

header nav ul {
  color: rgb(235, 231, 20);
  width: 23%;
  height: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
}

nav ul li {
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 5px;

  color: rgb(255, 175, 4);

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

nav ul li:hover {
  color: rgb(191, 219, 29);
}

.about {
  background-color: rgb(255, 255, 255);
  height: 700px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column {
  width: 50%;
}

.columnAboutMe {
  flex-direction: column;
  display: flex;
  margin: 120px 100px;
}

.columnSkills {
  flex-direction: column;
  display: flex;
  margin: 120px 420px;
}

.columnSoftSkills {
  margin: 120px 100px;
}

#projects {
  background-color: rgb(168, 143, 1);
  height: 700px;
}

#contact {
  background-color: rgb(58, 60, 78);
  height: 700px;
}

button {
  height: 20px;
  width: 120px;
  background-color: transparent;
  border: 0px solid transparent;

  position: absolute;
  left: 65px;
  top: 52px;

  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button a {
  color: rgb(255, 175, 4);
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
button a:hover {
  color: rgb(191, 219, 29);
}

.about h1 {
  font-size: 80px;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.about p {
  margin-top: 25px;
  font-weight: bold;
  font-size: 30px;
  text-align: justify;

  width: 100%;
  height: 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.column .imagenes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 30px;
}

.imagenes img {
  flex: 33%;
  height: 150px;
  width: 150px;
}

/*
.skills img {
  flex: 33%;
  height: 50px;
  width: 50px;
}

#about .skills h1 {
  position: absolute;
  top: 483px;
  left: 1050px;
  font-size: 70px;

  color: black;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} 
/*
.imagenes #front1 {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 1000px;
  top: 600px;
}
.imagenes #php {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 800px;
  top: 600px;
}

.imagenes #java {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 900px;
  top: 800px;
}
.imagenes #c {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 1250px;
  top: 800px;
}
.imagenes #sql {
  width: 300px;
  height: 250px;
  position: absolute;
  left: 1280px;
  top: 550px;
}

#about .soft h1 {
  position: absolute;
  top: 763px;
  left: 100px;
  font-size: 70px;

  color: black;
  width: 35%;
  height: 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

*/

.columnSoftSkills ul {
  font-size: 30px;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: inline-block;
  font-weight: bold;
  color: rgb(11, 17, 109);
}
/* 
.proj h1 {
  position: absolute;
  top: 1163px;
  left: 620px;
  font-size: 70px;

  color: black;
  width: 35%;
  height: 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.proj #Maihao {
  position: absolute;
  top: 1300px;
  left: 40px;
  height: 400px;
  width: 700px;
}
.proj #Platforms {
  position: absolute;
  top: 1300px;
  left: 780px;
  height: 400px;
  width: 700px;
}

.container {
  position: absolute;
  display: inline-block;
  left: 220px;
  width: 60%;
  height: 80%;
  background-color: rgb(163, 145, 145);
  margin: 60px;
  border: 8px solid rgb(255, 175, 4);
}
.container .row h2 {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 20px;
}
.row input {
  display: block;
  width: 80%;
  margin: 40px 100px 60px 80px;
  font-size: 20px;
  border: 3px solid rgb(255, 175, 4);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.row input:hover {
  background-color: rgb(240, 227, 114);
}

.container .row textarea {
  font-size: 30px;
  margin-top: 0px;
  margin-left: 80px;
  width: 80%;
  height: 200px;
  border: 3px solid rgb(255, 175, 4);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.row textarea:hover {
  background-color: rgb(240, 227, 114);
} */

#projects {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}
#projects h1 {
  font-size: 80px;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#projects img {
  width: 550px;
  height: 350px;
  padding: 40px 30px 0px 35px;
}
