*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
   
    position: flex;
    align-items: center;
    background:#DABA99;
    width: 100%;

}
header{
    background: url(../IMAGENES/beach-863139_1920.jpg) ;
    background-size: cover;
    background-position: center;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 8px black solid;
    
    height:220px;
}
header img{
    width:245px;
    height:245px;
    position: absolute;
    top:-30px;
    left:50px;
    rotate: 90px left;
    transform:rotate(25deg);
   
    
}


header h1 {
    text-align:right;
    margin-right:120px;
    margin-top:22px;
    font-style: oblique;
    font-size: 105px;
    font-family: "Helvetica Neue",Helvetica;
    color:#DABA99;
   
    text-shadow: 5px 4px black;
}
 nav{
    position: absolute;
    top:235px;

    background-color:	#36290D;
    height:100px;
    

    margin-left: 10px;
    width: 98.7%;
    margin-top: 0px;
    margin-bottom: 10px;
    border:8px black solid;
    
  
   
}
nav ul{
    display: flex;
    margin-top:23px;
    line-height: 20px;
    margin-left: 400px;
    
   
    
    
}


nav ul li:hover{
    background-color:#927434;
    
   
}
nav ul li {
    list-style: none;
    position: relative;
    width:160px;
    height:42px;
    margin: 0px 5px 0px;
    z-index: 2;
    
    background-color:#DABA99;
    border: 4px solid black;
    transition: all 1s ease;
    
    
}

nav ul li a {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
   
   
   
   
}

nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 16px;
    font-size: 1.2em;
    
    color:black;
}


nav ul li a .text{
    position:absolute;
    top:23px;
    line-height: 6px;
    color:Black;
    font-weight: bold;
    font-size:14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}


#section1{
    background: url(../IMAGENES/dog-3071334_1920.jpg) left no-repeat;
    height:350px;
    background-color:#ccaabb;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 112px;
    margin-bottom: 10px;
    border: 8px black solid;
}

#section2{
    background-color:	#36290D;
    height:100px;
    
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 8px black solid;
}

.portada2 h2 {
    color: white;
    text-align: Left;
   
    margin-left: 12px;
    line-height:28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.portada2 h4 {
    color: white;
    text-align: left;
    margin-top:10px;
    margin-left: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}






footer{
    position: relative;
    top:0px;
    height: 65px;
   
    width: 100%;
    background-color: black;
    border: 2px solid black;
}

footer h4{
    position: relative;
    text-align: center;
    line-height: 60px;
    color: white;
    
    
}